/*
 * Line Item
 *========================================
 */

.line-item {
  padding: 16px 8px;

  + .line-item {
    border-top: 1px solid #f0f0f0;
  }
}

.line-item__property {
  display: inline-block;
  padding: 0 8px;
  vertical-align: top;
  width: percentage(1/6);
}

.line-item__label {
  display: block;
  font-size: 10px;
}

.line-item__value {
  display: block;
  word-wrap: break-word;
}

.line-item__id {
  background: #f8f8f8;
  border-radius: 4px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  margin-top: 4px;
  padding: 4px 8px;
}